<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My To-Do-List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')}}" type="text/css">

    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="{{ url_for('static', filename='site.js')}}"></script>

  </head>
  <body>
    <header class="container">
      <h1>My To-Do-List</h1>
    </header> 

    <main id="todo" class="container">
      <h2>ToDos</h2>

      <p v-if="allDone">All done, Awesome!</p>

      <ul class="list-group">
        <li v-for="todo in todos" v-bind:key="todo.id" class="list-group-item">
          <div class="row">
            <div class="col">
              (( todo.description ))
            </div>
            <div class="col">
            <button v-if="todo.done" v-on:click="toggleDone(todo.id)" class="btn btn-sm btn-success">done!</button>
            <button v-else v-on:click="toggleDone(todo.id)" class="btn btn-sm btn-danger">Not Done</button>
            </div>

            <div class="col">
              <span class="badge">(( todo.due_date ))</span>
            </div>
            <div class="col-auto">
              <button v-on:click="deleteToDo(todo.id)" class="btn btn-sm btn-secondary">delete</button>
            </div>
          </div>
        </li>
      </ul>
      
      <h2>Add new ToDo</h2>

      <form id="addToDo" class="form-inline" v-on:submit.prevent="addToDo">
        <input class="form-control" required type="text" v-model="newToDo.description" value="" id="description" placeholder="Buy beer"/>
        <input class="form-control" type="date" v-model="newToDo.due_date" id="due_date" placeholder="Due date"/>
        <input class="form-control" type="time" v-model="newToDo.due_time" id="due_time" name="due_time" id="due_time" placeholder="Time"/>
        <input class="btn btn-primary" type="submit" value="Add Todo" />
      </form>
    </main>
  </body>
</html>
