<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Tutorial</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="{{ url_for('static', filename='site.js') }}"></script>
  </head>

  <body>
    <header class="container">
      <h1>To Do List</h1>
    </header>

    <main id="todo" class="container">
      <h2>My ToDos</h2>

      <ul class="list-group">
        <li v-for="todo in todos" class="list-group-item">
          <div class="row">
            <div class="col">
            (( todo.description ))
            </div>

            <div class="col">
              <button v-on:click="deleteToDo(todo.id)" class="btn btn-danger btn-sm">Delete ToDo</button>
            </div>

            <div class="col">
              <button v-if="todo.done" v-on:click="toggleDone(todo.id)" class="btn btn-success btn-sm">Done!</button>
              <button v-else v-on:click="toggleDone(todo.id)" class="btn btn-danger btn-sm">ToDo!</button>
            </div>
          </div>
        </li>
      </ul>
      
      <h2>Add A new todo</h2>
      <form v-on:submit.prevent="addToDo" class="form-inline">
        <input v-model="newToDo" class="form-control" required type="text" placeholder="Bier kaufen" />
        <input class="btn btn-success" type="submit" value="Add ToDo" />
      </form>
    </main>
  </body>
</html>
