[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
flask-socketio = "*"
eventlet = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
